html,
body {
  margin: 3%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1558089551-95d707e6c13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80 ");
}
Header {
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
  text-decoration: underline;
  text: center;
}
h1 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  font-size: 20px;
}
h2 {
  margin-top: 5%;
  text-align: center;
}
h3 {
  margin-top: 0%;
  margin: 10%;
  text-align: center;
  background-color: #fff0f3;
  letter-spacing: 2px;
  line-height: 1.5;
}
h5 {  
  font-size: 40px;
}


/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
#shoppingcart {
  text-align:center;
  
}
#products {
  list-style: none;
  margin: 0;
  
}
#store {
  list-style: none;
  margin: 0;
}
#carousel {
  text-align: center;
  margin: 20px;
}
#mypicture {
  text-align: center;
}
#anouncetext {
  margin: 40px;
  color: blue;
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
  text-decoration: underline;
  text: center;
}
#commentbox {
  margin-top:20%;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10%;
}

